html,
body {
  margin: 0;
  padding: 0;
}

/* header */

header {
  /* background-color: mediumaquamarine; */
  background-color: transparent;
  z-index: 40;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 30, 38, 0.5);
  font-family: 'DM Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
}

nav .logo {
  padding-left: 10px;
  padding-right: 10px;
}

nav .menu {
  display: flex;
}

nav .menu a {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
/* 
nav .menu a:hover {
  background-color: rgb(86, 185, 152);
} */
