/* main */
canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 30, 38, 1);
}

main {
  position: absolute;
  top: 0px;
  width: 100%;
  color: white;
  height: auto;
  min-height: 100%;
  z-index: 50;
}

.bg-greeting {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 250px;
  height: 250px;
  filter: grayscale(0);
  pointer-events: none;
}

.greeting {
  text-align: center;
  font-size: 60px;
  font-family: DM Serif Display, sans-serif;
}

.description {
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  color: #b2cccc;
}
